# ====================================================
# .env - Environment Variables
# Copy this file to .env and fill in your values
# ====================================================

PORT=3000

# Firebase Storage Bucket (from Firebase Console)
PORT=3000

FIREBASE_API_KEY=AIzaSyC6YriuZw9PbYDHlVifE2K6iXz2d7FqZDk
FIREBASE_AUTH_DOMAIN=project-85fd3.firebaseapp.com
FIREBASE_PROJECT_ID=project-85fd3
FIREBASE_STORAGE_BUCKET=project-85fd3.appspot.com
FIREBASE_MESSAGING_SENDER_ID=964555570847
FIREBASE_APP_ID=1:964555570847:web:e1a3c1077b6b020e2aecaa
FIREBASE_MEASUREMENT_ID=G-TEJLCZ68XF
CLOUDINARY_CLOUD_NAME=dsi3czlja
CLOUDINARY_API_KEY=243849561977236
CLOUDINARY_API_SECRET=enLvOTGAST6IGyYu4TTni84Ur1c

# Optional: Service account path (if not using serviceAccountKey.json)
# GOOGLE_APPLICATION_CREDENTIALS=/path/to/serviceAccountKey.json
